// movies

.movies-container {
    padding: em(12);

    @include mq($tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: em(14);
    }

    @include mq($desktop){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: em(18);
    }
}

.movie-card {
    border: em(3) solid $textColor;
    padding: em(10);
    margin-bottom: em(16);
    border-radius: em(8);

    img{
        width:100%;
        height: auto;
    }
    @include mq($tablet){
        margin-bottom: 0;
    }
}