// Type
// font-family: 'Roboto', sans-serif;
// font-family: 'Sarabun', sans-serif;

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, nav a {
    font-family: 'Sarabun', sans-serif;
}

h1 {
    font-weight: 800;
    font-style: italic;
}

a {
    color: white;
}