// Wrapper

.wrapper {
    max-width: em(1000);
    margin: em(10) auto;
    border-radius: 10px;
    background-color: rgba(grey, 0.2);

    @include mq($desktopWide){
        border: 3px solid $textColor;
    }
}